@font-face {
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a {
  font-family: "open-sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
