$background-color-primary: #f5f5f5;
$background-color-secondary: #fff;
$background-color-tertiary: #fcfcfc;

$text-color-primary: #000;
$text-color-secondary: #666;
$text-color-tertiary: #999;

$primary-application-color: #007bff;

$border-color-primary: #ddd;
$border-radius-primary: 5px;

$navbar-width: 15pc;
$navbar-height: 5pc;
